PRIVATE_KEY=
WALLET_ADDRESS=
ADDRESS_AND_PRIVATE_KEY_MAPPINGS={"accountName": "yourAccountName", "walletAddress": "yourWalletAddress", "privateKey": "yourPrivateKey"}/{"accountName": ..., "walletAddress": ..., "privateKey": ...}
